@import './styles/theme.css';

/* Global Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%;
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}